@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

:root{
    
--green:#00E77F;
--white:#fff;
--light-white:#aaa;
--black:#3d3d3d;
--light-bg:#4b4b4b;

}
*{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
}


*::selection{
    background-color: var(--white);
    color:var(--black);

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--green);
    border-radius: 5rem;
}

body{
    background-color: var(--black);
}


section{
    max-width: 1200px;
    margin:0 auto;padding: 2rem;
    color: #fff;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--light-bg);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
}

.btn:hover{
    background-color: var(--white);
    color: var(--green);
}









.harder{
    position: fixed;
    top:0; left:0;right:0;
    z-index: 1000;
    background-color: var(--light-bg);
}

.harder .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.harder .flex .logo{
    font-size: 10%;
    color: var(--white);
}

.harder .flex .navbar a{
      margin-left: 2rem;
      color: var(--light-white);
      font-size: 2 rem;
}

.harder .flex .navbar a.hover{
    color:var(--green)


}

menu-btn{
    cursor : pointer;
    color: var(--white);
    font-size: 2.5rem;
    display: none;
}





.home{
    margin-top: 6rem;

}


.home .row{
    display: flex;
    align-items: center;
    color: #fff;
    flex-wrap: wrap-reverse;
    gap: 1.5em;
}



.home .row .content{
    flex: 1 1 40rem;
    text-align: center;
    justify-content: center;
}



.home .row .image{
    flex: 1 1 40rem;
    
}



.home .row .image img{ 
    width: 100%;
}


.home .row .content h3{
    margin-bottom: 1rem;
    font-size: 10rem ;
    line-height: 1;
}


.home .row .content h3 span{

    color: var(--green);
}


.body{
    margin-top: 6rem;

}

.body .row{
    text-align: center;
    display: flex;
}

.count .box-container{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
     gap:1.5rem;
     align-items: flex-start; 
}



/* Container for the boxes */

.box-container {
    /* Make the container a flexbox */
    display: flex;
  }
<div class="box-container">
  <!-- flex container -->
  <div>Item 1</div>
  <div>Item 2</div>
  <div>Item 3</div>
</div>


.box-container{
    display: flex;
     flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  











  

  





















/* Container for the boxes */
.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  /* Individual boxes */
  .box {
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
  }

.count .box-container .box{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}

.count .box-container .box i{
    font-size: 5rem;
    color: var(--green);
}

.count .box-container .box .content h3{
    font-size: 2rem;
    color: var(--white);
    margin-bottom: .5rem;
}


.count .box-container .box .content p{
    font-size: 1.6rem;
    color: var(--light-white);

}

.about .row{
    display: flex;
    align-items: center;
    gap: 45rem;
    flex-wrap: wrap;
}


.about .row .image{
    flex:  1 1 rem;
}

.about .row .image img{
         width: 120%;
}

.about .row .image .content{
    text-align: center;
    flex: 1 140rem;
}


.about .row . h3{
    font-size: 3rem;
    color: var(--white);
}

.about .row .content p{
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-white);
}



/* mediaqueries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}



.home .row .content h3 span{
    font-size: 8rem;
}







@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .harder .flex .navbar {
        position: absolute;
        top: 99%; left: 0%; right: 0%;
        border-top: .1rem solid var(--light-white);
        background-color: var(--light-bg);
        clip-path: polygon(0 0,100% 0, 0 0);
    
    
    
    }
    
    
    .harder .flex .navbar  .active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    }
    .harder .flex .navbar a{
        display: block;
        margin: 2rem;
    
    }
    }


    .course-slider {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    
    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
    
    .slide.active {
        display: block;
    }
    
    h3 {
        margin-top: 0;
    }

html,body
{
margin: 0;
padding: 0;
align-items: center;
justify-content: center;
height: 100%;
background: #000000;
}
.container
{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.btn
{
width: 100px;
height: 100px;
background-color: #070707;
display: flex;
align-items: center;
justify-content: center;
margin-left: 2em;
margin-right: 1em;
cursor: pointer;
transition: all 0.3s;
border-radius: 10px;
}
i.fa
{
font-size: 44px;
}
#fb
{
color: #006fff;
text-shadow: 0 0 30px #006fff;
}
#ig
{
color: #ff5f40;
text-shadow: 0 0 30px #ff5f40;
}
#tw
{
color: #00acff;
text-shadow: 0 0 30px #00acff;
}
.btn.fb-btn
{
box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
}
.btn.fb-btn:hover
{
transform: scale(1.2);
box-shadow: 0 30px 45px -15px rgba(0,111,255,0.65);
}
.btn.ig-btn
{
box-shadow: 0 20px 20px -17px rgba(255,16,39,0.5);
}
.btn.ig-btn:hover
{
transform: scale(1.2);
box-shadow: 0 30px 45px -15px rgba(255,16,39,0.57);
}
.btn.tw-btn
{
box-shadow: 0 20px 20px -17px rgba(0,255,255,0.53);
}
.btn.tw-btn:hover
{
transform: scale(1.2);
box-shadow: 0 30px 45px -15px rgba(0,111,255,0.6);
}



.section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.courses-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.course-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 100px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.course-card:hover {
    transform: translateX(200);
}


.section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.courses-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.course-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

    




/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Apply a background color and set up basic styling for the body */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;

    color: #333;
    margin: 0;
}

/* Style the container for better alignment */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the contact section */
.contact {
  
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    color: var(--green);
}

.contact p {
    color: greenyellow;
    margin-bottom: 20px;
}

/* Style the form elements */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

label {
    display: block;
    margin-bottom: 2px;
    color: var(--green);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00b330;
}

/* Style the about section */
.about {
 
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: var(--green);
}

.about h2 {
    color: var(--green);
}

.about p {
    color: greenyellow;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}





































/* Apply a reset for default styles and add basic styling for the body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: red;
}

/* Style the courses section */
.courses1 {
    text-align: center;
    padding: 50px 0;
}

.heading {
    font-size: 36px;
    margin-bottom: 30px;
    color: greenyellow;
}

/* Style the courses container */
.coursescontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style the course cards */
.course-card {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.course-card:hover {
    transform: scale(1.05);
}

.course-card a {
    display: block;
    text-decoration: none;
    color: lightgreen;
}

.course-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid transparent;
}

.course-card p {
    padding: 15px;
    font-size: 18px;
}

/* Add some spacing for smaller screens */
@media (max-width: 768px) {
    .coursescontainer {
        padding: 0 10px;
    }

    .course-card {
        flex: 0 0 calc(50% - 20px);
    }
}

/* Add styles for larger screens */
@media (min-width: 769px) {
    .coursescontainer {
        padding: 0 20px;
    }

    .course-card {
        flex: 0 0 calc(33.33% - 20px);
    }
}



















body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #333;

}

h1 {
    text-align: center;
    padding: 20px;
    background-color: transparent; /* Change the color to your preference */
    color: #fff;
}

.card-client {
    background: transparent;
    width: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }


  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid #7cdacc;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture svg {
    width: 2.5rem;
    fill: currentColor;
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: "icon";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 2rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: rgb(31, 28, 28);
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: "icon";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }





/* Style the container */
.ourteachers {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
  }
  
  /* Style each card in the slider */
  .card-client {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  /* Ensure the cards are displayed in a row */
  .card-client:last-child {
    margin-right: 0; /* Remove margin for the last card */
  }
  





  body {
    margin: 0;
    padding: 0;
  }
  
  .slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: 100%;
  }
  
  video {
    width: 100%;
    height: auto;
  }
  














